.page-template-page-home {
	
	.tis-wrap {
		@include breakpoint(medium down) {
			margin-top: -4rem;
		}
	}
	
	.on-page-locations-wrap {
		
	}
	
	.locations {
		padding-top: 3.88rem;
		margin-top: -5rem;
		
	&:before {
		content: '';
		position: absolute;
		top: 57%;
		bottom: 0;
		width: 200vh;
		left: -100vw;
		right: -100vw;
		margin: auto;
		background-color: $hex-black;
	}
		
		.bg.hex {
			background-position: 50% 0%;
		}
		
		h2 {
			margin-bottom: 0.95rem;
		}
		
		.on-page-locations-wrap {
			position: relative;
			padding: 0 0 3.1rem;
			
			@include breakpoint(medium) {
				padding: 0 0 6rem;
			}
			
			button {
				span {
					margin-right: .65rem;
				}
			}
			
			.dropdown-pane {
				padding-top: 1rem;
				
				.white-bg {
					border-radius: $global-radius;
					padding: 1rem 1.5rem .5rem;
				}
				
				ul.locations-nav {
					display: block !important;
					padding: 1rem 0;
					
					> li {
						> a {
							display: none;
						}
						> ul {
							display: block !important;
							
							>li {
								margin-bottom: .5rem;
								
								ul {
									padding: .5rem 0;
								}
								
							}
						}
					}

				}
				
			}
			

		}
	}
	
	.img-copy-card {
		position: relative;
		padding-bottom: 5rem;
	}
	
	.find-region {
		padding-top: 17px;
		margin-top: 0;
		border-left: 17px solid #000B0F;
		border-right: 17px solid #000B0F;
		h2 {
			transform: translateY(-34px);
		}
		#home-region-trigger {
			width: 310px;
			border-bottom: 1px solid #DDDDDD;
			border-radius: 0;
			padding: 0.75rem 0;
			margin-bottom: 1.5rem;
		}
		.home-region-nav-wrap.dropdown-pane {
			border-color: #DDDDDD;
			@include breakpoint(medium down) {
				padding: 1rem 0;
				width: 340px;
				width: 90vw;
			}
			@include breakpoint(tablet) {
				position: static !important;
				padding: 0;
				width: 100%;
				border: 0;
			}
		}
		.region-nav {
			width: 100%;
			>li {
				width: 100%;
			}
			>li {
				> a {
					display: none;
				}
				>ul {
					position: static;
					display: flex !important;
					flex-direction: row !important;
					flex-wrap: wrap !important;
					justify-content: center;
					@include breakpoint(tablet) {
						margin-right: -1rem;
						margin-left: -1rem;
					}
					>li {
						flex: 0 0 33.333%;
						max-width: 138px;
						width: 33.333%;
						
						@include breakpoint(tablet) {
							margin: 1rem;
							width: auto;
							flex: 0 0 auto;
							max-width: 138px;
						}
					
						a {
							display: block;
							position: relative;
							height: 100%;
							padding: 1rem 0.9rem 0rem;
							border-radius: 5px;
							box-shadow: 0px 0px 0px 0px $medium-gray;
							color: $medium-gray;
							border: 1px solid transparent;
							transition: all .3s ease;
						&:before {
							content: '';
							display: block;
							border-bottom: 1px solid #DDDDDD;
							position: absolute;
							bottom: 0;
							width: calc(100% - 1.8rem);
							transition: border .3s ease;
						}
						&:hover {
							box-shadow: 0px 0px 10px 0px $medium-gray;
							color: $black;
							border: 1px solid #EFEFEF;
							&:before {
								border-bottom: 1px solid transparent;
							}
						}
						
							span.icon {
								max-width: 94px;
								img {
									width: 100%;
								}
							}
							
							span.title {
								font-size: rem-calc(15);
								line-height: rem-calc(17);
								font-weight: bold;
								text-transform: uppercase;
								padding-top: 0.8rem;
								padding-bottom: 0.7rem;
							}
							
						}
					}
				}
			}
		}
		.map-wrap {
			padding-bottom: 4.4rem;
		}
	}
	
	.cta-w-bg-img {
		
	}
	
	.testimonials-slider-section {
		padding-top: 1.5rem;
		padding-bottom: 2.3rem;
		
		@include breakpoint(medium) {
			padding-top: 9.34275rem;
			padding-bottom: 5.05rem;
		}
		
		&:before {
			content: '';
			display: block;
			height: 486px;
			width: 100%;
			position: absolute;
			z-index: -1;
			top: -4rem;
			background: transparent linear-gradient(180deg, #383838 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
			mix-blend-mode: multiply;
			opacity: 0.25;
		}
		
		&:after {
			content: "";
			width: 858px;
			height: 537px;	
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(25%, -40%);
			z-index: -2;
			background-image: url(../images/testimonials-hex-pattern.png);
			background-size: cover;
		}
		
		h2 {
			margin-bottom: 1.4rem;
			
			@include breakpoint(medium down) {
				margin-bottom: 4.58rem;
			}
			
		}
		
		#testimonials-text-slider {
			margin-top: 0.55rem;
			
			@include breakpoint(medium) {
				margin-bottom: 2.32rem;
			}
			
			@include breakpoint(medium) {
				margin-top: 2.3rem;
			}
			
		}
		
		p.name {
			width: 50%;
			font-weight: 500;
		}
		
		.testimonials-text-slider-wrap {
			padding-top: 2.9rem;
		}
		
		.testimonials-text-swiper-pagination {
			position: relative;
			z-index: 1;
			text-align: left;
			
			@include breakpoint(tablet) {
				text-align: right;
			}
			
			.swiper-pagination-bullet {
				display: inline-block;
				position: relative;
				background: transparent;
				width: 24.113px;
				height: 20.882px;
				opacity: 1;
				
				svg {
					position: absolute;
					top: 0;
					left: 0;	
				}
				
			&.swiper-pagination-bullet-active {
				cursor: default;
				g.active-bg {
					fill: $black !important;
				}
			}
				
			}
		}
	}
	
}