.page-template-page-location {
	.bg.bg-gradient {
		position: absolute;
		z-index: -2;
		left: 0;
		right: 0;
		height: 500px;
		mix-blend-mode: multiply;
		opacity: 0.23;
	}
		
	.theme-blue {
		.bg.bg-gradient {
			&.gradient-top {
				top: 0;
				background: transparent linear-gradient(180deg, $gradient-blue 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
			}
			&.gradient-bottom {
				top: auto;
				bottom: 0;
				background: transparent linear-gradient(0deg, $gradient-blue 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
			}	
		}
	}
	.theme-red {
		.bg.bg-gradient {
			&.gradient-top {
				top: 0;
				background: transparent linear-gradient(180deg, $gradient-red 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
			}
			&.gradient-bottom {
				top: auto;
				bottom: 0;
				background: transparent linear-gradient(0deg, $gradient-red 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
			}	
		}
	}
	.theme-yellow {
		.bg.bg-gradient {
			&.gradient-top {
				top: 0;
				background: transparent linear-gradient(180deg, $gradient-yellow 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
			}
			&.gradient-bottom {
				top: auto;
				bottom: 0;
				background: transparent linear-gradient(0deg, $gradient-yellow 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
			}	
		}
	}
	
	.events {
		padding-bottom: 5.12rem;
		
		h2 {
			margin-bottom: 4.22rem;
		}
		
		.cards-wrap {
			@include breakpoint(xlarge) {
				margin: 0 -2.925rem;
			}
		}
		
		.event-card {
			padding-bottom: 2.44rem;
			@include breakpoint(medium) {
				padding-bottom: 4.55rem;
			}
			@include breakpoint(xlarge) {
				padding: 0 2.925rem 4.55rem;
			}
			.thumb {
				position: relative;
				margin-bottom: 2.1rem;
				
				&:before {
					content: '';
					position: absolute;
					top: -6px;
					left: -6px;
					right: -6px;
					bottom: -6px;
					mix-blend-mode: multiply;
					opacity: 0.31;
				}
			}
			
			&:nth-child(3n+1){
				.thumb {
					&.theme-blue {
						&:before {
							background: transparent linear-gradient(124deg, $gradient-blue 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-red {
						&:before {
							background: transparent linear-gradient(124deg, $gradient-red 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-yellow {
						&:before {
							background: transparent linear-gradient(124deg, $gradient-yellow 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
				}
			}
			&:nth-child(3n+2){
				.thumb {
					&.theme-blue {
						&:before {
							background: transparent linear-gradient(180deg, $gradient-blue 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-red {
						&:before {
							background: transparent linear-gradient(180deg, $gradient-red 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-yellow {
						&:before {
							background: transparent linear-gradient(180deg, $gradient-yellow 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
				}
			}
			&:nth-child(3n+3){
				.thumb {
					&.theme-blue {
						&:before {
							background: transparent linear-gradient(236deg, $gradient-blue 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-red {
						&:before {
							background: transparent linear-gradient(236deg, $gradient-red 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-yellow {
						&:before {
							background: transparent linear-gradient(236deg, $gradient-yellow 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
				}
			}
			
		@include breakpoint(medium) {
			&:nth-child(odd) {
				.thumb {
					&.theme-blue {
						&:before {
							background: transparent linear-gradient(124deg, $gradient-blue 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-red {
						&:before {
							background: transparent linear-gradient(124deg, $gradient-red 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-yellow {
						&:before {
							background: transparent linear-gradient(124deg, $gradient-yellow 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
				}
			}
			&:nth-child(even) {
				.thumb {
					&.theme-blue {
						&:before {
							background: transparent linear-gradient(236deg, $gradient-blue 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-red {
						&:before {
							background: transparent linear-gradient(236deg, $gradient-red 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-yellow {
						&:before {
							background: transparent linear-gradient(236deg, $gradient-yellow 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
				}
			}
		}
		
		@include breakpoint(large) {
			&:nth-child(3n+1){
				.thumb {
					&.theme-blue {
						&:before {
							background: transparent linear-gradient(124deg, $gradient-blue 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-red {
						&:before {
							background: transparent linear-gradient(124deg, $gradient-red 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-yellow {
						&:before {
							background: transparent linear-gradient(124deg, $gradient-yellow 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
				}
			}
			&:nth-child(3n+2){
				.thumb {
					&.theme-blue {
						&:before {
							background: transparent linear-gradient(180deg, $gradient-blue 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-red {
						&:before {
							background: transparent linear-gradient(180deg, $gradient-red 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-yellow {
						&:before {
							background: transparent linear-gradient(180deg, $gradient-yellow 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
				}
			}
			&:nth-child(3n+3){
				.thumb {
					&.theme-blue {
						&:before {
							background: transparent linear-gradient(236deg, $gradient-blue 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-red {
						&:before {
							background: transparent linear-gradient(236deg, $gradient-red 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
					&.theme-yellow {
						&:before {
							background: transparent linear-gradient(236deg, $gradient-yellow 0%, #FEFEFE00 100%) 0% 0% no-repeat padding-box;
						}
					}
				}
			}
		}
			
			.text-wrap {
				h3,
				p {
					margin-bottom: 0;
				}
			}
		}
		

	}
	.cta-w-bg-img {
		
	}
	.gradient-section-1 {
		padding-top: 9.3125rem;
	}
	.img-copy-card {
		padding-bottom: 4.35rem;
	}
	.our-team {
		@include breakpoint(medium) {
			padding-bottom: 0.34rem;
		}
		h2 {
			margin-bottom: 5.55rem;
		}
	}
}