.hex-black-bg {
	background-color: $hex-black;
}
.black-bg {
	background-color: $hex-black;
}
.white-bg {
	background-color: $white;
}
.text-gray {
	color: $text-color
}
.dark-gray-color {
	color: $dark-gray;
}

.has-object-fit {
	position: relative;
	overflow: hidden;
	img.object-fit-img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	.grid-container {
		position: relative;
	}
}

.overflow-hidden {
	overflow: hidden;
}

.uppercase {
	text-transform: uppercase;
}

.h-100 {
	height: 100%;
}

.relative {
	position: relative;
}

ul.no-dots {
	list-style: none;
	padding: 0;
	margin: 0;
}

.has-bg {
	position: relative;
	.bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-repeat: no-repeat;
		
	&.mask {
		background: transparent linear-gradient(1deg, #000000 0%, #121212C8 42%, #54545400 100%) 0% 0% no-repeat padding-box;
		mix-blend-mode: multiply;
		opacity: 0.31;
		z-index: 0;
	}
		
	}
}
