h1,
.h1,
h2,
.h2,
h3,
.h3 {
	text-transform: uppercase;
}

ul,
ol,
p,
.p {
	color: $text-color;
	font-size: rem-calc(18);
	line-height: 1.3888; 
}

a {
	transition: all .25s ease;
}

.white-color {
	color: $heading-white;
}

a.white-color {
	&:hover {
		color: $heading-white;
	}
}

.name {
	font-size: rem-calc(30);
	line-height: .8444;
}

.job-title {
	font-size: rem-calc(20);
}

.entry-content {
	a {
		text-decoration: underline;
	}
	.menu a {
		text-decoration: none;
	}
}