.hero {
	position: relative;
	z-index: 0;
	
	@include breakpoint(medium down) {
		margin-bottom: 2.55rem;
	}
	
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: none;
		object-position: bottom;
	}
	
	.hero-heading {
		min-height: 104vw;
		@include breakpoint(medium) {
			min-height: 59.35vw;
		}
		@include breakpoint(xxlarge) {
			min-height: 854px;
		}
	}
	
	.bg.hex {
		background-position: 50% 100%;
	}
	
	.bg.img {
		background-size: 170vw;
		background-position: 50% 140%;
		
		@include breakpoint(medium) {
			background-size: 117vw;
			background-position: 50% 100%;
		}
	}
	
	.hero-heading {
		position: relative;
		color: $white;
		padding: 7.32rem 0 2.75rem;
		
		@include breakpoint(large) {
			padding: 8.32rem 0;
		}

		h1 {
			margin: 0;
			font-size: rem-calc(22);
			line-height: 1.237;
			letter-spacing: .04em;
			max-width: 80%;
			margin: auto;
			text-shadow: 0px 3px 50px #000000;
			
			@include breakpoint(large) {
				line-height: 1.2;
				font-size: rem-calc(45);
			}

			span {
				font-size: rem-calc(55);
				line-height: 1;
				letter-spacing: .02em;
				
				@include breakpoint(large) {
					font-size: rem-calc(100);
					line-height: 1.052;
				}
				
			}

		}
	}
	img {
		display: block;
		margin: -1px auto 0;
		@include breakpoint(medium) {
			margin: -1px auto -7rem;
		}
	}
}