.img-copy-card  {
	.inner {
		@include breakpoint(tablet) {
			padding-bottom: 52px;
		}
	}
	.left {
		position: relative;
		z-index: 2;
		
		.img-wrap {		
			position: relative;	
			@include breakpoint(medium down) {
				max-width: 700px;
			}
			img {
				display: block;
			}	
		}
	}
	.right {
		position: relative;
		z-index: 1;
		padding-top: 3.8rem;
		@include breakpoint(tablet) {
			padding-top: 2rem;
			padding-bottom: 2rem;
		}
		
		h2 {
			margin-bottom: 3.3rem;
		}
	
		.text-btns-svg-wrap {
			position: relative;
		}
			
		.btns-wrap {
			position: relative;
			z-index: 1;
			padding-top: 1.25rem;
			@include breakpoint(medium) {
				padding-top: 2.15rem;
			}
		}
		
	}
}